#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(10, 100px);
  gap: 10px;
}

.card {
  background-color: cornflowerblue;
  color: cornflowerblue;
  width: 100px;
  height: 130px;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 2px;
  transition: 
    transform 0.8s ease-in,
    background-color 0.8s ease-in,
    color 1s;
}

.card:hover {
  transform: rotateY(180deg);
  background-color: beige;
}

.content {
  transition: transform 0.8s ease-in;
}

.card:hover .content {
  transform: rotateY(-180deg);
}