#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

#game {
  display: flex;
  flex-direction: column;
}

#score {
  position: relative;
  top: -50px;
}

.cards {
  position: relative;
  top: -50px;
  display: grid;
  grid-template-columns: repeat(10, 100px);
  gap: 10px;
}

.card {
  width: 100px;
  height: 130px;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 2px;
}

.card-not-rotated {
  background-color: cornflowerblue;
  transition: transform 0.7s ease-in, background-color 0.7s ease-in;
}

.card-rotated {
  background-color: beige;
  transform: rotateY(180deg);
  transition: 
    transform 0.7s ease-in,
    background-color 0.7s ease-in,
    color 0.7s ease-in;
}

.value {
  color: cornflowerblue;
}

.value-not-rotated {
  transition: transform 0.7s ease-in,
  color 0.7s ease-in;
}

.value-rotated {
  transform: rotateY(180deg);
  color: cornflowerblue;
  transition: color 0.7s ease-in;
}
